<!DOCTYPE html>
<html lang="pt-BR">

<%- include(`./partials/head`) %>

<body class="index"> <!-- alterar para saber a página -->
    <!--=============== ACESSIBILITY ===============-->
    <%- include('partials/div-accessibility') %>
    
    <!--=============== HEADER ===============-->
    <%- include('partials/header') %>

    <!--=============== MAIN ===============-->
    <main id="main">
        <div class="main content">
            <div class="main-container wrapper">
                <div class="main-container_breadcrumbs">
                    <a class="link" href="https://www.fateczl.edu.br/">Início</a>
                    <a class="link" href="https://www.fateczl.edu.br/biblio">Biblioteca</a>
                    <p>Consultar acervo</p>
                </div>

                <div class="main-container_presentation">
                    <h5>Biblioteca</h5>
                    <h1>Consulta ao Acervo</h1>
                    <p>Nesta área você poderá consultar todo o acervo de bibliografia existente na Fatec da Zona Leste.</p>
                </div>

                <div class="main-container_table">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <table id="example" class="table table-striped display nowrap" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Título</th>
                                            <th>Autor</th>
                                            <th>Tema</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% biblio[0].forEach(itemBiblio => { %>

                                            <tr>
                                                <td><%=itemBiblio.code%></td>
                                                <td><%=itemBiblio.title%></td>
                                                <td><%=itemBiblio.author%></td>
                                                <td><%=itemBiblio.theme%></td>
                                            </tr>

                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> 
                </div>
                
            </div>
        </div>

        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
            </div>
            <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
            <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>
    </main>

    <!--=============== FOOTER ===============-->
    <%- include('partials/footer') %>

    <!--=============== SCROLL REVEAL ===============-->
    <script src="./js/scrollreveal.min.js"></script>

    <!--=============== SCRIPT DATATABLES ===============-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap5.min.js"></script>
    
    <!--=============== SCRIPT ===============-->
    <script src="./js/main.js"></script>
</body>
</html>